.list {
  height: 50vh;

  padding: 0;
  margin: 0;

  &__item {
    height: 5vh;
    width: 100%;
    margin: 0.5em 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font: 1.4em Gilroy-Light;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color .2s ease-out;

    &_hovered, &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

@media (--mobile) {
  .list {
    display: none;
  }
}
