@google-font Roboto 400 cyrillic;
@google-font "Roboto Mono" 300 cyrillic;

:global(@font-face) {
  font-family: 'Gilroy-ExtraBold';
  src: url('/fonts/Gilroy-ExtraBold.otf') format('otf');
}

:global(@font-face) {
  font-family: 'Gilroy-Light';
  src: url('/fonts/Gilroy-Light.otf') format('otf');
}

:global(body) {
  margin: 0;
}
