.tile {
  display: block;
  margin: 10px;

  color: rgba(245, 245, 245, 0.9);
  text-decoration: none;

  &:first-child {
    margin-left: 0;
  }

  &__card {
    height: 100px;
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
  }

  &__icon {
    font-size: 48px;
  }

  &__caption {
    margin: 4px;
    font: 16px Gilroy-Light;
  }
}
