.tile {
  display: block;
  margin: 10px;

  color: black;
  text-decoration: none;

  &:first-child {
    margin-left: 0;
  }

  &__card {
    height: 200px;
    width: 400px;

    display: flex; /* REMOVE */

    background-color: gray;
  }

  &__caption {
    margin: 4px;
    font: 16px Roboto;
  }
}
