@custom-media --mobile (max-width: 440px);
@custom-media --tablet (min-width: 440px) and (max-width: 768px);
@custom-media --minimal (max-width: 768px);
@custom-media --small (min-width: 768px) and (max-width: 1024px);
@custom-media --normal (min-width: 1025px) and (max-width: 1280px);
@custom-media --large (min-width: 1281px) and (max-width: 1440px);
@custom-media --boss (min-width: 1441px);
